
html{
  background-color:#141414;
  overflow: hidden;
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.header {
  display: block;
  width: 100%;
  height: 30vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 30);
}

h1 a {
  color:#e6e6dd;  
  opacity: 0.85; 
  font-weight: 900;
  font-size: 14vh;
  transition: 200ms;    
}

h1 a:hover {
  color:#e6e6dd;  
  opacity: 1;
}  

a {
  color:#e6e6dd;
  cursor:pointer;
  text-decoration:none;
  font-size: 2vh;
}

.content {
  text-align: center;
}

.link {
  color:#b9b9b9;
  padding: 0.3em 1em 0.3em 1em;
}

.link-box {
  bottom: -35vh; /* Fallback for browsers that do not support Custom Properties */
  bottom: calc(var(--vh, 1vh) * -35);
  position: relative;
  text-align: center;
}

@media screen and (max-device-width: 800px) {
  a.link {
    font-size: 1.5rem;
    display: block;
  }

  .name a{
    font-size: 4em;
  }
  
  .link-box {
    bottom: -15vh; /* Fallback for browsers that do not support Custom Properties */
    bottom: calc(var(--vh, 1vh) * -15);
  }
}

